@import 'src/styles.scss';

#inputFiltroProducto {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.drop-down-overflow {
    overflow-y: scroll;
    max-height: 200px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-input {
  border: 1px solid #ff3551!important;
}

.error {
  color: #ff3551;
  font-size: xx-small;
  margin-bottom: 5px;
}

input:disabled {
  cursor: not-allowed;
  background-color: $grisClaro;
}

.mb-7 {
  margin-bottom: 7px;
}