@import 'src/styles.scss';

.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-input {
  border: 1px solid #ff3551!important;
}

.error {
  color: #ff3551;
  font-size: xx-small;
  margin-bottom: 5px;
}

input:disabled {
  cursor: not-allowed;
  background-color: $grisClaro;
}