<div class="container">
    <div class="text-center">
        <div class="row-flex-between col-75 div-spacing center-content">
            <input type="text" placeholder="descripcion..." [(ngModel)]="searchTerm" (keyup)="onSearch($event)">
            <button class="btn button-secondary" (click)="openModalAgregarProducto()">Agregar</button>
        </div>
        <div class="col-12 text-center background-white div-spacing center-content">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">Imagen</th>
                        <th class="text-left">Nombre del producto</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productosFiltrados">
                        <td class="text-center">
                            <img src="{{producto.imagen}}" class="img-logo" onerror="this.style.display='none'">
                            <i class="img-error-logo" *ngIf="!producto.imagen"></i>
                        </td>
                        <td class="text-left">{{producto.nombre}}</td>
                        <td class="text-left">{{producto.descripcion}}</td>
                        <td class="text-center">{{producto.categoria}}</td>
                        <td class="text-center">{{producto.precio | currency:'USD'}}</td>
                        <td class="text-center">{{producto.stock}}</td>
                        <td class="text-center"> 
                            <div class="dropdown">
                                <button type="button" class="dots-down" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button" (click)="modal.openModalEditar(producto)">Editar</button>
                                    <button class="dropdown-item" type="button" (click)="openModal(producto)">Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center">
                            <span>{{productosFiltrados!.length}} resultados</span>
                        </td>
                        <td colspan="4"></td>
                        <td class="text-center">
                            <select (change)="filtrarProductos($event)">
                                <option value="0">Seleccione</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id='modalEliminar' class="modal">
        <div class="modal-content">
            <h2>Está seguro de eliminar el producto {{productoEliminar!.nombre}}</h2>
            <hr class="margin-20">
            <div class="row-flex-between margin-10 padding-20">
                <button type="button" class="btn button-box" (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn button-secondary" (click)="eliminarProducto(productoEliminar)" >Confirmar</button>
            </div>
        </div>
    </div>
</div>



<app-toast #toast></app-toast>
<app-agregar-producto (formSubmitted)="guardarProducto($event.producto,$event.accion)" #modal></app-agregar-producto>