$OpenSansPath: "../fonts" !default;
$OpenSansVersion: "1.1.0" !default; 
$gris: #bebebe;
$grisClaro: #e5e5e5;
$grisOscuro: #656565;
$white: #fff;
$black: #444;
$fontSize8: 8px;
$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
